<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Dashboard</title>
    <link rel='stylesheet' href='/styles.css'>
</head>
<body>
    <div class='cover-photo-container'>
        <img src="<%= user.coverPhotoURL %>" alt='Cover Photo' class='cover-photo'/>
    </div>
    <div class='profile-photo-container'>
        <img src="<%= user.profilePhotoURL %>" alt='Profile Photo' class='profile-photo'/>
    </div>
    <div class='container'>
        <div id='user-info'>
            <h1><p><strong><%= user.username %>'s Hub</strong></p></h1>
        </div>
        <div id='inner-circle'>
            <h3>Your Inner Circle</h3>
            <p>No members in your inner circle yet.</p>
            <button>Add Member</button>
        </div>
        <div id='photo-approval'>
            <h3>Photo Approval</h3>
            <p>No photos shared yet.</p>
            <button>Share a Photo</button>
        </div>
        <div id='responses'>
            <h3>Responses</h3>
            <p>No responses yet.</p>
        </div>
        <div class='footer'>
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>    
        </div>
    </div>
</body>
</html>
