body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align to the top */
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #FFD6E8;
    color: #333;
    background-image: linear-gradient(45deg, rgba(255,182,193,0.7), rgba(255,223,186,0.7), rgba(255,255,224,0.7));
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px; /* Increased space from the top */
}

.slynd-header {
    font-family: 'Futura', 'Arial', sans-serif;
    color: #FF6B6B;
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 0;
}

.slynd-tagline {
    font-size: 1.2em;
    margin-top: 0.25em;
    margin-bottom: 20px; /* Increased space between tagline and container */
}

.container {
    width: 80%; /* or any specific percentage you prefer */
    min-width: 600px; /* ensures that the container takes up at least this much space */
    max-width: 600px; /* optional: you can set this to ensure the containers don't get too wide on larger screens */
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 2px solid #FF69B4;
    text-align: left;
    margin-bottom: 20px; /* Space between containers */
}

h2, h3 {
    color: #FF6B6B;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#user-info strong {
    color: #FFB677;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

button {
    width: 100%; /* Full width */
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #FFB677;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    margin-top: 20px; /* Added space above the button */
}

button:hover {
    background-color: #FF6B6B;
    transform: scale(1.05);
}

a, .footer button {
    color: #FFB677;
    transition: color 0.3s ease;
}

.footer {
    margin-top: 20px;
    text-align: center;
}

.footer button {
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
}

.footer button:hover {
    text-decoration: underline;
}

input[type='text'], input[type='email'], input[type='password'] {
    width: 100%; /* Full width */
    padding: 10px;
    margin-bottom: 20px; /* Consistent space between inputs */
    border-radius: 5px;
    border: 1px solid #FFB677;
    transition: border 0.3s ease;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

input[type='text']:focus, input[type='email']:focus, input[type='password']:focus {
    border: 1px solid #FF6B6B;
    outline: none;
}

a:hover {
    color: #FF6B6B;
}

/* Fade in setup */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    animation: fadeIn 1s ease-in-out;
}

/* Scale in setup */
@keyframes scaleIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.container {
    animation: scaleIn 0.5s ease-in-out;
}
